In [ ]:
# @hidden_cell
# The project token is an authorization token that is used to access project resources like data sources, connections, and used by platform APIs.
from project_lib import Project
project = Project(project_id='d7e4eac2-8e65-4907-91d7-3b91f0e3dc32', project_access_token='p-5cc95255a973ad986a896f6c448037d060d5196b')
pc = project.project_context

In [32]:
import pandas as pd
import numpy as np
from geopy.geocoders import Nominatim
import folium
import matplotlib.cm as cm
import matplotlib.colors as colors
import matplotlib.colors as colors

In [33]:
# @hidden_cell
# The project token is an authorization token that is used to access project resources like data sources, connections, and used by platform APIs.
from project_lib import Project
project = Project(project_id='d7e4eac2-8e65-4907-91d7-3b91f0e3dc32', project_access_token='p-5cc95255a973ad986a896f6c448037d060d5196b')
pc = project.project_context

In [34]:
df= pd.read_csv(project.get_file('Geospatial_Coordinates.csv')).head(5)

In [35]:
df.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [51]:
df_coordinates=pd.read_csv('https://cocl.us/Geospatial_data')
df_coordinates.columns=['Postal Code','Latitude','Longitude']

In [52]:
df_coordinates.sort_values(by='Postal Code')

    Postal Code   Latitude  Longitude
0           M1B  43.806686 -79.194353
1           M1C  43.784535 -79.160497
2           M1E  43.763573 -79.188711
3           M1G  43.770992 -79.216917
4           M1H  43.773136 -79.239476
..          ...        ...        ...
98          M9N  43.706876 -79.518188
99          M9P  43.696319 -79.532242
100         M9R  43.688905 -79.554724
101         M9V  43.739416 -79.588437
102         M9W  43.706748 -79.594054

[103 rows x 3 columns]

In [55]:
df=df.sort_values(by='Postal Code')
df=df.reset_index()
df=df.drop('index',axis=1)

df['Latitude']=df_coordinates['Latitude']
df['Longitude']=df_coordinates['Longitude']

df.head(20)

   Postal Code   Latitude  Longitude
0          M1B  43.806686 -79.194353
1          M1C  43.784535 -79.160497
2          M1E  43.763573 -79.188711
3          M1G  43.770992 -79.216917
4          M1H  43.773136 -79.239476
5          M1J  43.744734 -79.239476
6          M1K  43.727929 -79.262029
7          M1L  43.711112 -79.284577
8          M1M  43.716316 -79.239476
9          M1N  43.692657 -79.264848
10         M1P  43.757410 -79.273304
11         M1R  43.750072 -79.295849
12         M1S  43.794200 -79.262029
13         M1T  43.781638 -79.304302
14         M1V  43.815252 -79.284577
15         M1W  43.799525 -79.318389
16         M1X  43.836125 -79.205636
17         M2H  43.803762 -79.363452
18         M2J  43.778517 -79.346556
19         M2K  43.786947 -79.385975